<table class="table table-striped scale-in-ver-top">
  <thead>
    <tr>
      <th scope="col">Datum</th>
      <th scope="col">Restschuld</th>
      <th scope="col">Zinsen</th>
      <th scope="col">Tilgung(+) / Auszahlung (-)</th>
      <th scope="col">Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr class="scale-in-ver-top" *ngFor="let entry of entry">
      <td class="fw-bold">{{ entry.date }}</td>
      <td>{{ entry.restSume }} €</td>
      <td>{{ entry.interest }} €</td>
      <td>{{ entry.rueckZahlung }} €</td>
      <td>{{ entry.rate }} €</td>
    </tr>
  </tbody>
</table>
